body{
    background-color: rgba(0,0, 0, 0.9);
    color: #fff;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
    color: rgba(255, 255, 255, .9);
}
.owl-carousel.home-slider .slider-item .slider-text h1,
.owl-carousel.home-slider .slider-item .slider-text .subheading,
.blog-entry .text .heading a{
    color: #fff;
}
.bg-light{
    background-color: #121212 !important;
}
.services-1 .desc h4{
    color: rgba(0,0,0,.9)
}
.heading-section .subheading{
    color: rgba(255, 255, 255, .5)
}