.progress-wrap h3{
    font-size: 15px;
    margin-bottom: 0;
}
.progress{
    height: 10px;
    position: relative;
    background-color: #fff;
}
.progress-bar{
    height: 10px;
    position: initial;
}
.progress-bar span {
    font-size: 13px;
    top: -16px;
}
.zoom-list{
    list-style: none;
}
.zoom-list li{
    transition: all .4s;
    height: 34px;
    cursor: default;
}

.zoom-list li:hover{
    font-size: 1.2rem;
    transform: translateX(10px);
    color: rgba(0, 0, 0, 0.9);

}
.owl-carousel.owl-drag .owl-item{
    touch-action: pan-y;
}
@media screen and (min-width: 750px) {
    .owl-carousel.home-slider, .owl-carousel.home-slider .slider-item, .owl-carousel.home-slider .slider-item .slider-text {
        height: 450px;
    }
    .owl-carousel.home-slider .slider-item .slider-text .one-third{
        height: 250px;
    }
}
.project{
    cursor: pointer;
}

/*************
    Modals
 *************/

.modal-content{
    border: none;
    border-radius: 0;
}
.modal-body{
    padding: 0 15px;
}
.modal-xl{
    max-width: 90% !important;
}
.modal-dialog{
    height: calc(100vh - 3.5rem);
}
.modal-content, .modal-body{
    height: 100%;
    overflow: hidden;
}
.project-modal .row, .project-modal .project-info, .project-gallery{
    height: 100%;
}
.project-info{
    overflow: hidden;
    overflow-y: scroll;
}
.project-gallery{
    padding: 0 !important;
    background-color: #000;
}

.project-gallery img, .project-gallery .owl-carousel .owl-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project-gallery .owl-carousel{
    height: 100%;
}
.project-gallery button{
    outline: none !important;
}
.project-gallery .slider-button{
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    font-size: 1.3rem;
    color: #fff;
    padding: 5px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-gallery .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
.project-gallery .owl-stage-outer, .project-gallery .owl-stage, .project-gallery .owl-item{
    height: 100%;
}


.project-info::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.project-info::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.project-info::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #737373;
}
.project-info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.project-info h1{
    font-size: 1.5rem;
}
.project-info .tag{
    font-size: .9rem;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    margin-right: 10px;
    padding: 2px 5px;
    display: inline-block;
}
.project-info .tags{
    display: flex;
    align-self: flex-end;
    width: 100%;
    padding: 20px;
}